# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
# I want to have this committed as I'm going to seed the data in and want it always available
#database/*.sqlite
